html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1200px;
  background: #236588;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  --main-color: #6CCAD1;
}

.page {
  margin: 0 auto;
}

.header {
  float: right;
  position: relative;
}

.menu__content {
  padding-right: 80px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0 0 40px;
}

.menu__item {
  padding-right: 30px;
}

.menu:last-child {
  margin-bottom: 0;
}

.menu__link {
  display: inline-block;
  padding: 8px;
  border-bottom: 1px solid transparent;
  color: var(--main-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.3s ease-in;
}

.menu__link:hover {
  border-color: var(--main-color);
  transition: 0.3s ease-out;
  color: #a0f2f8;
}

.menu__link.active {
  color: #a0f2f8;
  border-bottom: 1px solid var(--main-color);
}

ol {
  font-weight: 400;
}

.wrapper {
  border: #ffffff;
  width: 100%;
  max-width: 1200px;
  display: flex;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  margin: 0;
  background: #09264B;
  width: 30%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.my-photo {
  width: 100%;
  display: block;
}

.contacts {
  background: var(--main-color);
  padding: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
}

.contacts_list {
  padding: 0;
  list-style: none;
}

.tech_skills {
  max-width: 100%;
}

.soft_skills {
  max-width: 100%;
  margin-bottom: 40px;
  margin-bottom: 10px;
}

.skills_title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 17px;
  font-family: 'Montserrat', sans-serif;
  color: #236588;
}

.skills_list {
  max-width: 100%;
}

.skills {
  text-transform: uppercase;
  color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.name {
  color: #a0f2f8;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0;
}

.about {
  width: 80%;
  padding: 0 60px;
}

.tel {
  color: #09264B;
  text-decoration: none;
}

.tel:hover {
  transition: 0.3s linear;
  text-decoration: underline;
}

.contacts_title {
  font-size: 22px;
  font-weight: 700;
  color: #236588;
}

.profession {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
  padding-top: 30px;
  color: var(--main-color);
}

.info {
  width: fit-content;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  padding-right: 80px;
  font-family: 'Montserrat', sans-serif;
}

.about_profession {
  padding: 0px 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 0 60px;
}

.portfolio {
  color: #09264B;
  font-size: 26px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

.portfolio_number {
  padding: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
  color: var(--main-color);
  font-family: 'Montserrat', sans-serif;
}

.link {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
  color: #09264B;
  text-decoration: none;
  transition: 0.2s linear;
}

.link:hover {
  transition: 0.2s linear;
  color: var(--main-color);
}

.link_skills {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

.portfolio_links {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

.dots {
  font-weight: 100;
}

.container {
  padding-left: 60px;
  margin-bottom: 20px;
  width: 80%;
}

.tasks {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
  margin-top: 18px;
  margin-bottom: 14px;
}

.tasks_color {
  color: var(--main-color);
}

.period {
  font-size: 12px;
  color: #a8a8a8;;
  font-weight: 400;
  line-height: 24px;
  font-family: 'Montserrat', sans-serif;
}

.lined {
  color: #09264B;
}

.prof_items {
  margin-bottom: 30px;
  padding: 0;
}

.prof_item {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.prof_item--link {
  text-decoration: none;
  color: #000;
}

.university {
  color: #000;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  line-height: 24px;
}

.specialization {
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 14px;
}

.work {
  margin-bottom: 10px;
}

.arrow {
  display: flex;
  padding-left: 550px;
}

.footer {
  height: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.footer_items {
  padding: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  text-align: center;
  align-items: center;
}

.footer_items--item {
  padding-left: 50px;
}

.footer_items--year {
  padding-left: 10px;
}

.footer_items--item:first-child {
  padding-left: 0;
}

.footer_logo {
  width: 100px;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.footer_logo:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.footer_git {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.footer_git--icon {
  width: 50px;
  transition: 0.3s ease-out;
}

.footer_git--icon:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
}

.footer_year {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.footer_link {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  margin: 0;
  justify-content: center;
  transition: 0.3s linear;
}

.footer_link:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in;
  color: #a0f2f8;
}

@media (max-width: 930px) {

  .menu__content {
    padding-right: 0;
  }

  .arrow {
    padding-left: 400px;
  }

}

@media (max-width: 845px) {

  .menu__link {
    font-size: 10px;
  }

  .about {
    padding: 0 40px;
    width: 60%;
  }

  .tel {
    font-size: 10px;
  }

  .contacts_title {
    font-size: 20px;
  }

  .skills_title {
    padding-left: 20px;
    font-size: 20px;
  }

  .skills_list {
    padding-left: 20px;
  }

  .skills {
    font-size: 10px;
  }

  .arrow {
    padding-left: 400px;
  }

  .footer_link {
    font-size: 20px;
  }
}

@media (max-width: 760px) {

  .header {
    display: none;
    text-align: center;
    float: none;
  }

  .menu__list {
    display: block;
    letter-spacing: 2px;
    padding: 0;
  }

  .menu__link {
    font-size: 30px;
    line-height: 50px;
  }

  .wrapper {
    display: block;
  }

  .sidebar {
    width: 100%;
  }

  .about {
    width: 85%;
  }

  .about_profession {
    padding: 0;
  }

  .contacts {
    padding: 20px 0 0;
    width: 33%;
    background-color: inherit;
  }

  .contacts_title {
    font-size: 25px;
  }

  .skills_title {
    font-size: 25px;
  }

  .tel {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--main-color);
    font-size: 14px;
  }

  .tech_skills {
    width: 32%;
  }

  .soft_skills {
    width: 32%;
  }

  .skills {
    font-size: 14px;
  }

  .contacts_and_skills {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
  }
}

@media (max-width: 700px) {

  .about {
    justify-content: center;
  }

  .contacts_and_skills {
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }

  .contacts {
    display: flex;
    padding-left: 20px;
    width: 100%;
  }

  .contacts_list {
    padding-left: 40px;
  }

  .tel {
    padding-left: 40px;
  }

  .skills_title {
    padding: 19px 0;
    margin: 0 20px;
  }

  .tech_skills {
    display: flex;
    width: 100%;
  }

  .skills_title--soft {
    padding-right: 9px;
  }

  .soft_skills {
    display: flex;
    width: 100%;
  }

  .skills {
    padding-left: 20px;
  }

  .container {
    padding: 0;
  }
}

@media (max-width: 600px) {

  .arrow {
    padding-left: 300px;
  }

  .footer {
    height: auto;
    padding-top: 40px;
  }

  .footer_items {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .footer_items--item {
    padding: 50px 0;
  }

  .footer_items--item:first-child {
    padding-bottom: 10px;
  }

  .footer_items--item:last-child {
    padding-top: 20px;
  }

  .footer_logo {
    width: 150px;
  }

  .footer_git--icon {
    width: 80px;
  }

  .footer_year {
    font-size: 24px;
  }

  .footer_link {
    font-size: 24px;
  }
}

@media (max-width: 500px) {

.contacts {
    padding: 20px 0 0;
    width: 100%;
    background-color: inherit;
    display: block;
  }

  .contacts_title {
    margin-left: 20px;
    font-size: 25px;
  }

  .contacts_list {
    padding-left: 0;
  }

  .skills_title {
    font-size: 25px;
  }

  .tel {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--main-color);
    font-size: 14px;
  }

  .tech_skills {
    display: block;
    width: 100%;
  }

  .soft_skills {
    display: block;
    width: 100%;
  }

  .skills {
    font-size: 14px;
  }

}

@media (max-width: 450px) {

  .arrow {
    padding-left: 250px;
  }
}

@media (max-width: 360px) {

  .name {
    font-size: 35px;
  }

  .arrow {
    padding-left: 200px;
  }
}
